{
  "presets": [["@babel/preset-env",{"corejs": "3","useBuiltIns":"usage"}],"@babel/react"],
  // "plugins": ["babel-plugin-transform-runtime"]
  //用来编译类的
  "plugins":["@babel/plugin-proposal-class-properties"]
}
